<!-- ending -->
{% extends "base.html" %}
{% block content %}




<!-- main block context create form -->
<div class="form-box">
    <h1> Dodawanie </h1>
    <div class="form-context">
        <form method="post">
            {% csrf_token %}
            <!-- block context row -->
            <div class="form-group">
                <label>Jednostka organizacyjna</label>
                {{form.name}}
            </div>
            <div class="form-group">
                <label>Lokalizacja</label>
                {{form.department}}
            </div>
            <div class="form-group">
                <label>Numer wew</label>
                {{form.office}}
            </div>
            <div class="form-group">
                <label>Nr. Tel</label>
                {{form.phone}}
            </div>
            <div class="form-group">
                <input class="" type="submit" value="Dodaj" />
            </div>
        </form>
    </div>

</div>
<div class="">
    <form>
        <a href=""> Powrót </a>
    </form>
</div>

{% endblock content %} 