{% extends "base.html" %}
{% block content %}

<h1> Usuwanie </h1>

<h3> Czy na pewno chcesz to usunąć ? </h3>
<!-- main block context delete form -->
<div class="">
    <dl class="">
        <dt class="">
            <!-- The Description Term element -->
        </dt>
        <dd class="">
            <!-- The Description Details element -->
        </dd>
    </dl>
    <form>
        <input class="" type="submit" value="delete" />
        <a href=""> Powrót </a>
    </form>
</div>

{% endblock content %} 