{% extends "base.html" %}
{% block content %}

<h1> Usuwanie </h1>

<h3> Czy na pewno chcesz to usunąć ? </h3>
<!-- main block context delete form -->
<div class="">
    <dl class="">
        <dt class="">
            Jednostka organizacyjna
        </dt>
        <dd class="">
            {{ clinic.name }}
        </dd>
        <dt class="">
            Jednostka organizacyjna
        </dt>
        <dd class="">
            {{ clinic.department }}
        </dd>
        <dt class="">
            Jednostka organizacyjna
        </dt>
        <dd class="">
            {{ clinic.office }}
        </dd>
        <dt class="">
            Jednostka organizacyjna
        </dt>
        <dd class="">
            {{ clinic.phone }}
        </dd>
    </dl>
    <form method="post">
        {% csrf_token %}
        <input class="" type="submit" value="Usuń" />
    </form>
    <a href=""> Powrót </a>
</div>

{% endblock content %} 