<!-- ending -->
{% extends "base.html" %}
{% block content %}

<h1> Edycja </h1>


<!-- main block context create form -->
<div class="">
    <div class="">
        <form>
            <!-- block context row -->
            <div class="form-group">
                <label>Jednostka organizacyjna</label>
                <input>
            </div>
            <div class="form-group">
                <label>Lokalizacja</label>
                <input>
            </div>
            <div class="form-group">
                <label>Numer wew</label>
                <input>
            </div>
            <div class="form-group">
                <label>Nr. Tel</label>
                <input>
            </div>
            <div class="form-group">
                <input class="" type="submit" value="Zapisz" />
            </div>
        </form>
    </div>

</div>
<div class="">
    <form>
        <a href=""> Powrót </a>
    </form>
</div>

{% endblock content %} 