*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    min-height: 100vh;
}

img, picture, svg {
    display: block;
    max-width: 100%;
}

.navbar {
    display: flex;
    overflow: hidden;
    width: 100%;
    padding: 30px 50px;
    align-items: center;
    justify-content: space-between;
   
}

.navbarmenu {
    display: flex;
    align-items: center;
}

.navmenu {
  display: flex;
  font-size: 16px;
  list-style: none;
  
}

li a{
  text-decoration: none;
  padding-right: 20px;
  color: #000000;
  font-size: 16px;
}

li a:hover {
  color: #2279A8;
}

.nav-drop {
  display: none;
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
  flex-direction: column;
}

/* Styl dla elementów rozwijanego menu */
.drop-item {
  padding: 10px;
  text-align: left;
  list-style: none;
}

/* Zmiana widoczności rozwijanego menu po najechaniu myszką na element menu */
.nav-item:hover .nav-drop {
  display: flex;
}

a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
}

#searchInput{
  width: 150px;
  height: 32px;
  border: 3px solid #2279A8;
  border-radius: 20px;
  padding: 5px;
}

table { 
  border-spacing: 1; 
  border-collapse: collapse; 
  background-color:#ffffff;
  border-radius:6px;
  overflow:hidden;
  max-width:1200px; 
  width:100%;
  margin:0 auto;
  position:relative;
}

thead tr { 
  height:60px;
  background-color:#1E1E1E;
  color: #ffffff;
  font-size:16px;
}

tbody tr {
  height: 48px;
  border-bottom: 1px solid black;
  text-align: center;
}

footer {
  height: 70px;
  width: 100%;
  background-color: #1E1E1E;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  position: fixed;
  bottom: 0px;
  left: 0px;
}
footer a {
  color: #ffffff;
}
footer a:visited {
  color: #ffffff;
}

/* login page CSS  */

.login-page{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box{
  width: 300px;
  border: 1px solid black;
  
}

.login-header{
  padding: 20px;
}

.content{
  padding: 20px;
}

.form-group{
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

button {
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* crud page */

.form-box {
  width: 300px;
  padding: 20px;
}
