{% extends "home.html" %}
{% block content %}
<script>
    function searchTable() {
        var searchTerm = document.getElementById('searchInput').value.toLowerCase();
        var tableRows = document.querySelectorAll('table tr');
        for (var i = 1; i < tableRows.length; i++) {
          var rowCells = tableRows[i].getElementsByTagName('td');
          var rowVisible = false;
      
          for (var j = 0; j < rowCells.length; j++) {
            var cellText = rowCells[j].textContent || rowCells[j].innerText;
      
            if (cellText.toLowerCase().includes(searchTerm)) {
              rowVisible = true;
              break;
            }
          }
      
          tableRows[i].style.display = rowVisible ? 'table-row' : 'none';
        }
      }
</script>

<div id="">
  <table>
    <thead>
      <tr>
        <th>Jednostka organizacyjna</th>
        <th>Lokalizacja</th>
        <th>Numer wew</th>
        <th>Nr. Tel</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ clinic.name }}</td>
        <td>{{ clinic.department }}</td>
        <td>{{ clinic.office }}</td>
        <td>{{ clinic.phone }}</td>
        {% block edit %}{% endblock edit %}
      </tr>
    </tbody>
  </table>
</div>
{% endblock content %}