{% extends "base.html" %}
{% block content %}
{% csrf_token %}

{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

{% if user.is_authenticated %}
    <p><a href="{% url 'add_clinic' %}">Dodaj klinike</a></p>
    <p><a href="{% url 'edit_clinic' %}">Edytuj klinike</a></p>
    <p><a href="{% url 'logout' %}">Wyloguj</a></p>
{% endif %}

{% endblock content %}
