<!-- ending -->
{% extends "base.html" %}
{% block content %}




<!-- main block context create form -->
<div class="form-box">
    <h1> Edycja </h1>
    <div class="form-context">
        <form method="post">
            {% csrf_token %}
            <!-- block context row -->
            <div class="form-group">
                <label>Imie</label>
                {{form.name}}
            </div>
            <div class="form-group">
                <label>Nazwisko</label>
                {{form.surname}}
            </div>
            <div class="form-group">
                <label>Email</label>
                {{form.email}}
            </div>
            <div class="form-group">
                <label>Jednostka</label>
                {{form.department}}
            </div>
            <div class="form-group">
                <label>Aktywny</label>
                {{form.active}}
            </div>
            <div class="form-group">
                <input class="btn_sub" type="submit" value="Zapisz" />
            </div>
        </form>
    </div>

</div>
<div class="">
    <form>
        <a href="{% url "edit_user" %}"> Powrót </a>
    </form>
</div>

{% endblock content %} 